---
layout: base
permalink: /index.html
title: 'Satyarth Portfolio'
---

<h1>Satyarth Portfolio 🚀</h1>

<p>Welcome to my personal website ✨</p>

<a href="#">My Projects</a><br><br>
<a href="#">Contact Me</a>
